<div class="container">
  <div class="upper-data">
    <img src="../assets/hot.jpg">
    <img src="../assets/cold.jpg">
    <div class="weather-data">
      <div class="location">Baltimore</div>
      <div class="temprature"> 26°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class= "more-info-label">
      More Information
    </div>
  <div class="more-info-contanier">
    <div class = "info-block">
      <div class="more-info-label">
        <img src="../assets/min.png">
        <span>min</span>
      </div>
      <div class="info-block-value">
        10°C
      </div>
    </div>

    <div class = "info-block">
      <div class="more-info-label">
        <img src="../assets/max.png">
        <span>min</span>
      </div>
      <div class="info-block-value">
        50°C
      </div>
    </div>

    <div class = "info-block">
      <div class="more-info-label">
        <img src="../assets/humidity_2903592.png">
        <span>Humidity</span>
      </div>
      <div class="info-block-value">
        50°C
      </div>
    </div>

    <div class = "info-block">
      <div class="more-info-label">
        <img src="../assets/wind.png">
        <span>Wind Speed</span>
      </div>
      <div class="info-block-value">
        15 km/h
      </div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
